<div class="dropdown" *ngIf="tokenFetched" [style.padding-right]=" (firstName + ' ' + lastName).length < 9 ? '40px' : null ">
    <button class="btn dropdown-toggle p-0" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" style="color:'';">
       {{firstName}} {{lastName}}

    </button>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{userProfileObject.home}}">
            <div class="container">
                <div class="row">
                    <i class="fas col-0 fa-home"></i>
                    <span class="col-1">Home</span>
                </div>
            </div>
        </a>
        <a class="dropdown-item" href="{{userProfileObject.link}}">
            <div class="container">
                <div class="row">
                    <i class="fas col-0 fa-cog"></i>
                    <span class="col-1">My Profile</span>
                </div>
            </div>
        </a>
        <a class="dropdown-item" href="#">
            <div class="container">
                <div class="row">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="col-1" (click)="signOut()">Sign Out</span>
                </div>
            </div>
        </a>
    </div>
</div>