<div>
    <div>
Gnomee is an online knowledge base of Digital Tools that can act as potential Digital Game Changers in rural areas, agriculture and forestry.
You can suggest a new Digital Tool relevant to any of the three main domains: Agriculture, Rural Areas and Forestry to be part of Gnomee. Your suggestion must be approved by Gnomee administrators.
</div>
<br>
<div>
If you are interested in proposing a new Digital Tool, click on the <b>'Sign in'</b> button, authenticate with any of the available options and use our suggest form.
</div>
</div>